.land-first-div{
    font-size:xx-large;
    height: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: red;
    font-family: 'Arial Narrow Bold', sans-serif;
}
.land-second-div{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   font-size:large;
}

.land-img1{
   width: 180px;
   height: 230px;
   background-color: transparent;
   display: block;
}
.land-third-div{
    display: flex;
    justify-content: center;
}
.land-fourth-div{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 60px;
}
.btn1{
  background-color: rgb(101, 182, 101);
    width: 180px;
    height: 60px;
    font-size: x-large;
    font-family:  'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  /* color: inherit; */
}
.btn2{
    background-color: rgb(103, 103, 178);
    width: 180px;
    height: 60px;
    font-size: x-large;
    font-family:  'Arial Narrow Bold', sans-serif;
    border:none;
    border-radius: 10px;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (max-width:800px){
    .land-first-div{
    font-size:x-large;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Arial Narrow Bold', sans-serif;
  }
  .land-second-div{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-size: medium;
  }
  .land-img1{
   width: 150px;
   height: 200px;
   background-color: transparent;
   display: block;
  }
  .land-fourth-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
  }
  .btn1{
  background-color: rgb(101, 182, 101);
    width: 160px;
    height: 60px;
    font-size: large;
    font-family:  'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 10px;
    color: white;
  text-decoration: none;
}
.btn2{
    background-color: rgb(103, 103, 178);
    width: 160px;
    height: 60px;
    font-size: large;
    font-family:  'Arial Narrow Bold', sans-serif;
    border:none;
    border-radius: 10px;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
}

@media (max-width:400px){
    .land-first-div{
    font-size: 18px;
    height: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Arial Narrow Bold', sans-serif;
  }
  .land-second-div{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   font-size: small;
  }
  .land-img1{
   width: 140px;
   height: 180px;
   background-color: transparent;
   display: block;
  }
  .land-fourth-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  .btn1{
  background-color: rgb(101, 182, 101);
    width: 160px;
    height: 60px;
    font-size: medium;
    font-family:  'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.btn2{
    background-color: rgb(103, 103, 178);
    width: 160px;
    height: 60px;
    font-size: medium;
    font-family:  'Arial Narrow Bold', sans-serif;
    border:none;
    border-radius: 10px;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
}
